.Title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title > img {
  margin-top: 30px;
  width: 100%;
  height: auto;
  max-width: 230px; /* 이미지의 최대 너비를 지정합니다. */
  max-height: 80px; /* 이미지의 최대 높이를 지정합니다. */
}
